<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
		font-family: Arial;
    }

    .topic {
        color: red;
    }
	
	.counterrr {
		font-size:20px;
	}
	
	.extend_uii {
		height: 400px;
		width:500px;
	}

</style>
</head>


<body>
    <h1 class="topic">Covid status by setu api</h1>
	<p>Welcome to my app!</p>
	<form method="POST">
	<input placeholder="Enter a country name here.", name="text">
	<input type="submit">
	</form>
	<iframe src="{{ image }}", class="extend_uii"></iframe>
	<br><br>
	<p class="counterrr">{{ count }} people have visited this website.<p>
</body>
</html>
